.list{
    li{
        list-style: none;
    }
}

/*변수 사용*/
$default : #333333;
$sub-color : #fa574e;
.text{
    color : #333333;
    background: $sub-color;
}


/*mixin 선언*/
@mixin box-style($height , $color , $width) {
    width:$width;
    background:$color;
    height:$height;
}
.sample{
    @include box-style(100px,red,500px)
}

.box{
    li{float: left;}
}

.sample{
    li{
        a{
            text-align: center;
            @at-root .sample2{
                text-align: left;
            }
        }
    }
}

.box2{
    /*css에서 축약형태 쓸때 접두어에 좀 신경을 썼음.
        border-top;
        border-left..
        margin-top.. =>>margin:
        padding-top..
    */
    border: {
        left:$default;
        top:$sub-color;
        bottom:red;
        right:lime;
    }
    margin: {
        left:20px;
        bottom:20px;
        right: 300px;
        top: 600px;
    }
}