<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keigo Higashino</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />

    <meta property="og:url"                content="http://portfolio17.net/uitest1231/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="사이트명사이트명" />
    <meta property="og:description"        content="설명부분구구절절.." />
    <meta property="og:image"              content="http://portfolio17.net/uitest1231/images/cherry.jpg" />

    <link rel="icon" href="./favicon.ico">
</head>
<body>
<div class="container"><!--전체감싸주는 div-->
<div class="headerWrap">
    <ul class="backimg"><!--슬라이드배너-->
        <li class="topImg"></li>
        <li></li>
        <li></li> 
    </ul>
    <header class="header">
        <nav>
        <div id="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 id="logo"><a href="#">&nbsp;</a></h1>
        <ul id="gnb"><!--GNB-->
            <li><a href="#">작가소개</a></li>
            <li><a href="#">도서</a>
                <ul class="sub best">
                    <li><a href="#">베스트셀러</a></li>
                    <li><a href="#">추천도서</a></li>
                </ul>
            </li>
            <li><a href="#">시리즈</a>
                <ul class="sub series">
                    <li><a href="#">가가형사</a></li>
                    <li><a href="#">갈릴레오</a></li>
                    <li><a href="#">웃음시리즈</a></li>
                </ul></li>
            <li><a href="#">영화</a></li>
            <li><a href="#">커뮤니티</a></li>
        </ul>
        <ul id="util">
            <li><a href="#"><img src="./images/search.png"></a></li>
            <li><a href="#"><img src="./images/my.png"></a></li>
        </ul>
        </nav>
    </header>
</div>
<section id="bestProduct" >
    <h2>베스트 상품영역</h2> 
    <ul>
        <li>
            <a href="#">
                <h3>가면산장 살인사건</h3>
                <p>이런 반전은 없었다.<br/>
                    누구도 결말을 예측할 수 없는 이중 삼중의 트릭, 스릴 만점의 심리전.<br/>
                    “스포일러 금지!”</p>
            </a>
        </li>
        <li>
            <a href="#">
                <h3>나미야 잡화점의 기적</h3>
                <p>
                    기적과 감동을 추리한다!<br/>
                    히가시노 게이고의 차기 대표작으로 손꼽힐<br/>
                    『나미야 잡화점의 기적』</p>
            </a>
        </li>
        <li>
            <a href="#">
                <h3>용의자 X의 헌신</h3>
                <p>백 퍼센트의 사랑, 백 퍼센트의 헌신…<br/>
                    추리 소설 역사상 가장 처절하고<br/> 가장 아름다운 한 편의 서사시.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <h3>방황하는 칼날</h3>
                <p>히가시노 게이고가 고발하는<br/> 우리 사회의 부조리<br/>
                    아직도 피해자를 구원할<br/> 답은 보이지 않는다.</p>
            </a>
        </li>
    </ul>
</section>
<section id="snsArea" class="wrap">
    <h2 class="title">SNS</h2>
    <div><!-- 이 div에  flex 줘서 가로 정렬 할 예정 -->
        <div class="desc">
            <h3>히가시노 게이고</h3>
            <p>
                "단순한 선입견만으로 사람을 몰아붙이지 마세요.<br/>
                세상 어떤 일이든 도전해보지 않고서는 모르는거 아닙니까"
            </p>
            <p>더 보 기</p>
        </div>
        <ul>
            <li>
                <a href="#">
                    <img src="./images/sns_f.png" alt="sns_icon"/>
                    <h3>FACEBOOK</h3>
                    <p>
                        지금 페이스북으로<br/>공유해 보세요.
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./images/sns_i.png" alt="sns_icon"/>
                    <h3>INSTARGRAM</h3>
                    <p>
                        해시태그로 다양한<br/> 정보를 만나보아요
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./images/sns_t.png" alt="sns_icon"/>
                    <h3>TWITTER</h3>
                    <p>
                        지금 당신의 생각을<br/> 트윗해 보세요.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
<section id="lineBanner">
    <div>&nbsp;</div>
    <div>
        <h3>작가의 한마디</h3>
        <p>10명이면 10명 모두 납득하는 살인 동기가 아니라,</p> 
        <p>'뭐야? 이런걸로 사람을 죽여?' 하는 수리소설에 </p>
        <p>도전하고 싶었다.</p>
    </div>
</section>
<section id="mdPick" class="wrap">
    <h2 class="title">시리즈</h2>
    <div>
        <div class="pickPrd">
            <a href="#">
                <img src="./images/series2.jpg" alt="berry"/>
            </a>
        </div>
        <ul>
            <li>
                <a href="#">
                <img src="./images/series_da.jpg" alt="pear"/>
                <h4>웃음시리즈</h4>
                </a>
            </li>
            <li>
                <a href="#">
                <img src="./images/series_ga.jpg" alt="blueberry"/>
                <h4>가가형사 시리즈</h4>
                </p>
                </a>
            </li>
            <li>
                <a href="#">
                <img src="./images/series_gal.jpg" alt="apricot"/>
                <h4>갈릴레오 시리즈</h4>
                </a>
            </li>
        </ul>
    </div>
</section>
<hr/>
<div class="picCircle_title">
    <h2 class="title">소설 원작 영화</h2>
</div>
<section id="picCircle" class="wrap">
    <div class="circleWrap">
        <a href="#">
            <div class="circle_img">&nbsp;</div>
            <div class="circle_txt">
                <h4>나미야 잡화점의 기적</h4>
                <p>32년 전 과거의 상담 편지로 시작된 인연<br/>그 끝에 기적 같은 비밀이 찾아온다!
                </p>
            </div>
        </a>
    </div>
    <div class="circleWrap">
    <a href="#">
        <div class="circle_img">&nbsp;</div>
        <div class="circle_txt">
            <h4>용의자 X의 헌신</h4>
            <p>서서히 드러나는 천재 수학자의 치밀하고 완벽한 알리바이의 실체. 그리고 그 속에 숨겨진 한 남자의 뜨거운 헌신이 밝혀진다!
            </p>
        </div>
    </a>
    </div>
    <div class="circleWrap">
    <a href="#">
        <div class="circle_img">&nbsp;</div>
        <div class="circle_txt">
            <h4>방황하는 칼날</h4>
            <p>딸을 잃고 살인사가 된 아버지.<br/>
                온 세상이 그의 외로운 추격을 뒤쫒는다.
            </p>
        </div>
    </a>
    </div>
</section>
<hr/>
<section id="imgBanner" class="wrap">
    <div>
        <h4>히가시노 게이고</h4>
        <p>
            일본 추리소설계를 대표하는 최고의 베스트셀러 작가. 추리소설 분야에서 특히 인정받고 있는 그는 누구도 상상하지 못한 소재를 자유자재로 변주하는 능력을 가진 탁월한 이야기꾼이다.
        </p>
        <p>
            그의 작품은 치밀한 구성과 대담한 상상력, 속도감 있는 스토리 전개로 처음부터 끝까지 팽팽한 긴장감을 유지해 독자를 잠시도 방심할 수 없게 만든다. 일본을 대표하는 소설가이자 최고의 베스트셀러 작가가 된 히가시노 게이고는 첫 작품 발표 이후 20년이 조금 넘는 작가 생활 동안 35편이라는 많은 작품들을 써냈음에도 불구하고 늘 새로운 소재, 치밀한 구성과 날카로운 문장으로 매 작품마다 높은 평가를 얻고 있다.
        </p>
    </div>
    <div><img src="./images/fst.jpg" alt="fst"></div>
    <div><img src="./images/higa2.jpg" alt="higa2"></div>
</section>
<footer>
    <p>봐주셔서 감사합니다!</p>
</footer>
</div>
<script src="./js/script.js"></script>
</body>
</html>