@charset "utf-8";
*{
	margin:0; padding:0;
}

#wrap{
	width:800px;
	margin:100px auto;
	background:#ddd;
}

#top{height:100px;}

#content{
	height:400px;
	background:#ffc;
	overflow:visible;
	position:relative;
	/*해당 요소를 기준으로 삼기 위해 relative선언*/
}

#content>div{
	width:400px;
	height:200px;
	font-size:3em;
	text-align:center;
	position:absolute;
}

.con1{
	background:yellow;
}
.con2{
	background:red;
	left:400px;
}
.con3{
	background:pink;
	top:200px;
}
.con4{
	background:violet;
	bottom:0; right:0;
}
