@charset "utf-8";
#box1{
	width:200px; height:200px;
	background:#ffc;
	overflow:auto;
}
#box1 img{width:100px;}

/*
	overflow : 감싸고 있는 요소의 크기보다 내용물이 크거나 길때 처리해주는 방식을 지정
	 - scroll : 무조건 스크롤이 생김(가로 세로 모두 생김)
	 
	 - auto : 감싸고 있는 요소(부모요소)가 내용물보다 작을 경우 스크롤 O
			  감싸고 있는 요소(부모요소)가 내용물보다 큰 경우 스크롤 X
			  
	 - visible (기본값): 요소의 크기 밖으로 나간 내용물까지 모두 보여줌
	 
	 - hiddne : 감싸고 있는 요소 밖으로 나간 텍스트 이미지 등등을 모두 감춰줌.(내용물을 감싸고 있는 요소(부모요소)의 크기 이상은 절대로 안보임)
*/

#box2{
	width:200px; height:200px;
	background:#fcf;
	overflow:scroll;
}