@charset "utf-8";
/*
	h2,h6 텍스트 컬러를 파랑색으로 변경
*/
h2, h6{
/*문서 내에 있는 모든 태그 선택*/
	color:orange;}
	
h1 + h2{
/*
	인접 선택자 : 주체는 h1(앞에쓴거) 바로 뒤에있는 h2하나만 선택
*/	
	background-color:yellow;
}

h1 ~ h2{
	border:2px solid pink;
	
}

/*★이 붙어있는 h2의 배경색상을 동위 선택자를 사용해 teal컬러로 변경해보세요*/

div + h2{background-color:teal;}