@charset "utf-8";
@charset "utf-8";
h3{text-align:center;}
p{text-align:center; font-weight:bold;}

.wrapper{
	width:600px;
	height:300px;
	margin:0px auto 20px;
	
	border:2px solid black;
	background:#ccc;
	
	/**/
}
.wrapper div{
	width:210px;
	background:#f3f3f3;
	border:2px solid red;
}