<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>NEW</title>
	<link href="./css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
	<a href="#"><img src="./images/logo.png" alt="logo" /></a>
	<nav id="gnb">
		<a href="#">
		<ul>
			<li><img src="./images/menu01.png" alt="회사소개" /></li>
			<li><img src="./images/menu02.png" alt="제품소개" /></li>
			<li><img src="./images/menu03.png" alt="인재채용" /></li>
			<li><img src="./images/menu04.png" alt="녹색경영" /></li>
			<li><img src="./images/contact-us.png" alt="contact-us" /></li>
		</ul>
		</a>
	</nav>
</header>
<section id="main_banner">
	<h2>비주얼 배너</h2>
	<div><img src="./images/main_img.jpg" alt="main_img" /></div>
	<aside class="btn">
		<a href="#">이전</a>
		<a href="#">다음</a>
	</aside>
</section>
<div id="content">
	<ul class="info1">
		<li>
			<a href="#">Recruit
				<ul>
					<li>삼성코닝어드밴스드글라스와</li>
					<li>함께 할 인재를 기다립니다.</li>
				</ul>
			</a>
		</li>
	</ul>
	<ul class="info2">
		<li>
			<a href="#">Contact Us
				<ul>
					<li>Network place</li>
					<li>Information</li>
				</ul>
			</a>
		</li>
	</ul>
	<ul class="info3">
		<li>
			<a href="#">Company
				<ul>
					<li>삼성코닝어드밴스드글라스를</li>
					<li>소개합니다.</li>
				</ul>
			</a>
		</li>
	</ul>
</div>
<footer>
	<img src="./images/foot-logo.png" alt="foot-logo" />
	<div>
		<ul class="footer_menu">
			<li><a href="#">고객지원</a></li>
			<li>|</li>
			<li><a href="#">개인정보 취급방침</a></li>
			<li>|</li>
			<li><a href="#">관리자에게 문의</a></li>
			<li>|</li>
			<li><a href="#">사이버감사</a></li>
		</ul>
		<address>COPYRIGHT &copy; 2019 SAMSUNG CORNING ADVANCED GLASS. ALL RIGHT RESERVED.</address>
	</div>
</footer>


</body>
</html>