@import "common";
@import "layout";
/*SASS에서 import 할때는 import 해오는 파일명 앞에 _를 반드시 작성 해 준 후 import 시 확장자 명을 생략해서 사용한다.*/
/*이 주석은 컴파일 되어서 아웃풋 됩니다.*/
#banner_sec{
    img{
        width: 1200px;
        max-height: 500px;
    }
}
#brand_sec{
    margin-top:100px;
    background: url('../images/brand.png') no-repeat top left;
    height: 500px;
    position: relative;
    .bar{
        position: absolute;
        width: 30%;
        background: $default_color;
        height: 5px;
        right: 0;
    }
    .brand_txt{
        position: absolute;
        background: rgba($color:#fff, $alpha:0.5);
        width: 400px;
        height: auto;
        padding: 20px;
        top: 60px; left: 50%;
        h3{@include text-style(21px, $bold-color, left, 1);}
        p{@include text-style(14px, $font_color, left, 2); margin-top: 20px;
            span{background: rgba($color:$bold-color, $alpha:0.5);
            color: #fff;}
        }
    }
    .brand_circle{
        position: absolute;
        right: 0;
        bottom: 0;
        a{
            margin: 10px;
            img:hover{
                transform: scale(1.1);
                @include trans(.5s);
            }
            img{@include trans(.5s)}
        }
    }
}

body{
    background: lighten(rgba($color:$bold-color, $alpha:0.5),10%);
}




