<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>theventi</title>
    <link href="./css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="util">
        <a href="index.html"><img src="./images/logo.png" alt="logo"></a>
        <ul class="gnb">
            <li><a href="">BRAND</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">STORY</a></li>
            <li><a href="">MEMBERSHIP</a></li>
            <li><a href="">COMMUNITY</a></li>
        </ul>
        <div>
            <a href="">
                <span>프랜차이즈</span>
                <span><img src="./images/logo-icon.png" alt="logo-icon"></span>
            </a>
        </div>
    </div>
    <div class="m_util">
        <div>
            <a href="index.html"><img src="./images/logo.png" alt="logo"></a>
            <div class="h_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="m_menu">
            <li><a href="">BRAND</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">STORY</a></li>
            <li><a href="">MEMBERSHIP</a></li>
            <li><a href="">COMMUNITY</a></li>
        </ul>
    </div>
    <div class="banner">
    <h3>MENU</h3>
    <h4>좋은 커피와 맛있는 음료를 합리적인 가격에 제공해드리는 우리는 "더벤티" 입니다</h4>
    </div>
    <ul class="d_menu">
        <li><a href="">더벤티 커피이야기</a></li>
        <li><a href="">신메뉴</a></li>
        <li><a href="">전체메뉴</a></li>
    </ul>
</header>

<section>
    <div class="product">
        <ul class="b_menu">
            <li>신메뉴</li>
            <li>커피</li>
            <li>베버리지</li>
            <li>아이스 블랜디드</li>
            <li>주스/에이드</li>
            <li>버블티/티</li>
            <li>사이드 메뉴</li>
            <li>쿠키(스낵)/RTD</li>
        </ul>
        <div class="p_list">
            <ul>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink01.jpg" alt="drink01"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink02.jpg" alt="drink02"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink03.jpg" alt="drink03"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink04.jpg" alt="drink04"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink05.jpg" alt="drink05"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink06.jpg" alt="drink06"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink07.jpg" alt="drink07"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink08.jpg" alt="drink08"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink09.jpg" alt="drink09"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink10.jpg" alt="drink10"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list">
                            <li><img src="./images/drink11.jpg" alt="drink11"></li>
                            <li><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink12.jpg" alt="drink12"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink13.jpg" alt="drink13"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink14.jpg" alt="drink14"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink15.jpg" alt="drink15"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="">
                        <ul class="list hot">
                            <li><img src="./images/drink16.jpg" alt="drink16"></li>
                            <li><span></span><span></span></li>
                            <li>흑설탕 버블티</li>
                            <li>BEST</li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer>
    <div class="f_util">
        <a href="index.html"><img src="./images/footer_logo.png" alt="footer_logo"></a>
        <ul>
            <li><a href="">더벤티 소개</a></li>
            <li><a href="">제휴/제안</a></li>
            <li><a href="">고객상담</a></li>
            <li><a href="">개인정보 처리방침</a></li>
            <li><a href="">이용약관</a></li>
        </ul>
        <div>
            <a href=""><img src="./images/f_youtube.png" alt="f_youtube"></a>
            <a href=""><img src="./images/f_insta.png" alt="f_insta"></a>
            <a href=""><img src="./images/f_facebook.png" alt="f_facebook"></a>
            <a href=""><img src="./images/f_blog.png" alt="f_blog"></a>
        </div>
    </div>
    <div class="foot">
        <ul class="call">
            <li>가맹문의<span>1661-4553</span></li>
            <li>가맹문의<span>1644-0513</span></li>

        </ul>
        <ul class="address">
            <li><span>더벤티코리아 부산</span>부산광역시 해운대구 센텀서로 20, 2507호(KNN타워)</li>
            <li><span>더벤티코리아 서울</span>서울특별시 구로구 디지털로33길 27 408~414호</li>
            <li>(주)에스앤씨세인 &nbsp;사업자번호 : 534-88-00122 &nbsp;대표이사 : 박수암 강삼남 최준경</li>
            <li>Copyright &copy; THEVENTI. All right Reserved. Created By Masstige.</li>
        </ul>
        <div>
            <a href="">
                <span>인트로</span>
                <span><img src="./images/logo-icon.png" alt="logo-icon"></span>
            </a>
        </div>
    </div>
</footer>

<script>

</script>

</body>
</html>